
:root{
    --dark-grey: #121212;
    --light-grey: #303134;
    --vscode-pink: #bb7299;
    --vscode-blue: #3c98d5;
    --vscode-yellow: #c29550;
    --vscode-grey: #1e1e1e;
    --vscode-red: #86401e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, 'Courier New', monospace;
}

body{
    background-color: var(--dark-grey);
}

.box{
    background-color: var(--light-grey);
    width: 80vmin;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.2em 2.5em rgba(0, 21, 44, 0.18);
}

h1{
    font-size: 1.5em;
    color: var(--vscode-pink);
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 1.3em;
}

.form{
    display: flex;
    justify-content: space-between;
    gap: 1.8em;
}

label{
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--vscode-blue);
}

input{
    position: relative;
    font-size: 1.1em;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.2em;
    border: none;
    color: var(--vscode-yellow);
    outline: none;
    background-color: var(--vscode-grey);
}

button{
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 5%;
    margin-top: 10%;
    margin-left: 35%;
    padding: 0.2em;
    border-radius: 0.2em;
    border: none;
    font-size: 1.1em;
    color: var(--vscode-red);
    background-color: var(--vscode-lightgrey);
}

.paragraph{
    color: var(--vscode-red);
}

.advice{
    color: var(--vscode-yellow);
    font-size: 0.8em;
    margin-left: 15%;
}

.footer{
    margin-top: 5%;
    margin-left: 27%;
    color: var(--vscode-pink);
}
