*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 80vmin;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 60%;
    border-radius: 0.62em;
}

h2{
    font-size: 1.5em;
    padding: 2em;
}
